name: Pull request validation

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - synchronize

jobs:
  pr-validation:
    runs-on: ubuntu-latest
    
    steps:
      - name: PR title validation
        uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            docs
            refactor
            chore
            fix
            feat
            breaking
          requireScope: false
          subjectPattern: ^[A-Z].+$
          subjectPatternError: |
            The subject "{subject}" found in the pull request title "{title}"
            doesn't match the configured pattern. Please ensure that the subject
            starts with an uppercase character.
          wip: false

      #- name: Checkout the repository
      #  uses: actions/checkout@v3

      #- name: Set up JDK 17
      #  uses: actions/setup-java@v3
      #  with:
      #    java-version: '17'
      #    distribution: 'temurin'
      #    cache: maven

      #- name: Execute unit-testing
      #  run: mvn clean test